on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Hello world action step
      uses: ./build-generation # Uses an action in the root directory