on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
    - name: "What the actual"
      uses: actions/checkout@v3
    - name: Hello world action step
      uses: ./build-generation 